body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    caret-color: transparent;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    color:#003300;
}

.Overlay {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s;
}  
.CloseBtn{
    position:absolute;
    top:15px;
    right: 35px;
    font-size:40px;
    color:white;
    text-decoration:none;
}
.OverlayContent{
    position:relative;
    top:25%;
    text-align:center;
}
.OverlayContent a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding:10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 100px;
    background-color: #003300;
    color: white;
    width: 100%;
    margin: auto;
    display: flex;
    position: fixed;
    z-index: 2;
}

.HeaderLogo {
    width: 100%;
}


.HeaderLogoBox {
    width: 50%;
}

.HeaderLogoBox a {
    width: 150px;
    margin: 12.5px auto;
    display: block;
    transition: 0.2s margin, 0.2s width;
}

header nav {

    display:none;
}


.MenuButton {
    height:40px;
    width: 40px;
    background-image:url("img/hamburger.png");
    background-size:cover;
    position:absolute;
    right: 10px;
    top:30px;
}

.HeroImage {
    width: 100%;
    height: 80vh;
    padding-top: 20vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("img/temp.jpg");
    background-size: cover;
}

.HeroText {
    color: white;
}

.HeroText h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 35px;
    text-align:center;
    margin: 0;
    color:white;
}

.HeroText p {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.HeroText a {
    width: 175px;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}
.HeroButton {
    width: 100%;
    height: 65px;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    transition: color .5s, background-color .5s;
}

.HeroButton h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 65px;
    font-size:20px;
    color:white;
}

.News {
    display: block;
    width: 200px;
    padding:10px;
    background-color: rgba(0,0,0,0.7);
    margin: 80px auto 0;
    color:white;
    text-decoration:none;
}
.News h3 {
    color: white;
}

.NewsImage {
    display: block;
    margin: 20px auto 20px;
    width: 90%;
    max-height:90px;
}




main {
    padding: 20px 0 100px;
    width: 90%;
    margin:0 auto;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

#Info {
    width: 100%;
    height: 2px;
    display: block;
}

.Info {
    display: flex;
    border: 2px solid #003300;
    padding: 20px;
}

.Info article {
    flex: 1;
    text-align: center;
}

.Info article h2 {
    color: #003300;
}

.Info article ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.Info article ul li {
    margin-bottom: 3%;
    font-size: 16px;
}

.Info .ProfilePic {
    display:none;

}


.ContactInfo h1 {
    color: #003300;
}

.ContactInfo h2 {
    color: #003300;
    font-size: 18px;
    margin-bottom: 5px;
}

.ContactInfo h2 .ColorRed {
    color: red;
}

.ContactInfo form {
    display: block;
    caret-color: black;
}

.ContactInfo form .Text {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #003300;
}

.ContactInfo form select {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #003300;
}

.ContactInfo form textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    font-size: 16px;
    border: 1px solid #003300;
}

.ContactInfo form .Submit {
    margin-top: 50px;
    width: 150px;
    height: 40px;
    border: 1px solid #003300;
    font-size: 16px;
    cursor: pointer;
}

.ContactInfo ul {
    padding: 30px 20px;
}

.ContactInfo ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.ContactInfo .FormSide {
    flex: 1;
}

.HeroImagePage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("img/temp.jpg");
    height: 30vh;
    padding-top: 30vh;
    width: 100%;
}

.HeroImagePage h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 4px;
}

#ResultsMain {
    width: 100%;
    padding: 0;
}

.Results .ResultsButtonpanel {
    display: flex;
}

.Results .ResultsButtonpanel .ResultsButton {
    flex: 1;
    background-color: #003300;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.ResultsContent .ResultBoard {
    width: 100%;
    padding: 50px 0;
}

.ResultBoardGreen {
    background-color: #cfffcf
}

.ResultBoard h1 {
    text-align: center;
    padding: 30px 0;
    margin: 0;
}

.ResultsPanel {
    display: block;
}

.ResultsStat {
    flex: 1;
    text-align: center;
}

.ResultsStat h2 {
    margin: 0;
    font-size:18px;
    padding: 16px 0;
}

.ResultsStat .ResultsTitle {
    background-color: #003300;
    color: white;
}

.TopRowSliderStats {
    margin-top: 20px;
    padding-top:20px;
}

.SlideStat {
    text-align: center;
    flex: 1;
}

.StatBox {
    width: 90%;
    margin: 0 auto;
    height: 50px;
    border-radius: 25px;
    background-color: #009900;
}

.StatValue {
    background-color: #003300;
    color: white;
    width: 0%;
    height: 100%;
    transition: 0.8s ease-out;
    border-radius: 25px;
    font-size: 20px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    overflow-x: hidden;
}
.NumberStatsSection {
    padding-bottom: 30px;
    margin-top:80px;
}

.NumberStatRow {

}

.NumberStat {
    flex: 1;
    text-align: center;
}

.NumberStat h2 {
    height: 60px;
    background-color: #003300;
    color: white;
    line-height: 60px;
    display: block;
}

iframe {
    width: 100%;
    margin: 0 auto;
    display: block;
    aspect-ratio: 4 / 3;
}

hr {
    background-color: #003300;
    height: 1px;
    margin: 20px 0;
}
.AboutContent {
    width: 100%;
}

.AboutPic {
  
}
.AboutPic img{
    width:80%;
    display:block;
    margin:40px auto 0;

}

.Information {
    flex: 1;
}

.WITB {
    width: 100%;
    margin: 30px 0;
    text-align: center;
}

.WITBTitle {
    border: 1px solid white;
    height: 55px;
    color: white;
    background-color: #003300;
    line-height: 55px;
    font-size: 24px;
    padding: 0 70px;
    text-align: left;
    cursor: pointer;
}

.WITBMenuIcon {
    float: right;
    width: 35px;
    margin: 10px 0;
}

.WITBContent {
    border-left: 1px solid #003300;
    border-right: 1px solid #003300;
    height: 0;
    overflow: hidden;
    transition: 0.5s height;
    display: flex;
    border-bottom: 1px solid #003300;
}

.WITBClub {
    flex: 1;
    text-align: center;
}
.WITBClub h3{
    font-size: 14px;
}
.WITBClubPicture {
    width: 80px;
    margin-top: 30px;
}
.NewsContent {
    width: 100%;
    border: 1px solid #003300;
    box-shadow: 2px 2px 2px black;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.NewsDescription {
    width: 100%;
}

.NewsContent img {
    display: block;
    margin: 35px auto 0;
    width: 70%;
}
.PDFButton {
    display: block;
    border: 1px solid #003300;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    width: 200px;
    margin:20px auto;
    line-height: 40px;
    text-align: center;
    color: black;
    text-decoration: none;

}
.Grades {
}

.Class {
    border: 1px solid #003300;
    display: flex;
}

.ClassName {
    flex: 3;
    line-height: 40px;
    padding-left: 20px;
}

.ClassGrade {
    flex: 1;
    line-height: 40px;
    border-left: 1px solid #003300;
    padding-left: 20px;
}

.Schedule {
    display: grid;
    grid-template-columns: 100%;
}

.Schedule a {
    text-decoration: none;
    color: black;
}

.Tournament {
    border: 1px solid #003300;
    margin: 20px;
    font-size:14px;
}
.Tournament h2 {
    font-size: 14px;
}
.Tournament p {
    margin-top: 30px;
}

.TournamentPicture {
    width: 100%;
}

.TournamentPicture img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.TournamentInfo {
    box-sizing: border-box;
    padding: 10px;
}


footer {
    color: white;
    width: 100%;
    padding: 25px 0;
    background-color: #003300;
    font-family: 'Montserrat', sans-serif;
}

footer .FooterContent {
    width: 100%;
    margin: auto;
    display: flex;
}

.FooterLogo {
    width: 100%;
}

footer .LogoBox {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding:0 10px;
}

footer .LogoBox #FooterLogo {
    min-width:80px;
    width: 26vw;
    margin: 0px auto;
    display: block;
}

footer .ListBox ul {
    list-style-type: none;
    padding: 0;
}

footer .ListBox ul li {
    margin-bottom: 15px;
    font-size: 10px;
}

footer .ListBox ul li a {
    color: white;
    text-decoration: none;
    transition: 0.2s color;
}

footer .ListBox {
    padding: 0 5px;
    flex:1;
}

footer #FooterLeft {
    text-align: right;
}

footer #FooterRight {
    text-align: left;
}

footer .FooterSocialMedia {
    width: 100%;
    display: block;
}

footer .FooterSocialMedia a {
    margin: 0 auto 15px;
    min-width: 20px;
    width: 5vw;
    display:block;
}

#InstagramLogo {
    width: 100%;
    display: block;
}


#DiagonalLine {
    display: none;
}

#FacebookLogo {
    width: 100%;
    display: block;
}


.FooterCopyRight {
    text-align: center;
    margin-top: 30px;
    font-size: 12px; 
}